<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="name"
		label="Настройки электронной почты"
		description="Настройки электронной почты руководителей"
	>
		<field
				name="division_head"
				type="text"
				label="Руководитель подразделения"
				description="Руководитель подразделения"
				size="40"
				class="inputbox"
				default=""
				rows="10"
				cols="50"
		/>

		<field name="division_head_email" type="email"
			   label="Электронная почта руководителя подразделения"
			   description="Электронная почта руководителя подразделения"
			   required="true"
			   size="30"
			   class="inputbox"
			   validate="email" />

		<field
				name="fin_director"
				type="text"
				label="Финансовый директор"
				description="Финансовый директор"
				size="40"
				class="inputbox"
				default=""
				rows="10"
				cols="50"
		/>

		<field name="fin_director_email" type="email"
			   label="Электронная почта финансового директора"
			   description="Электронная почта финансового директора"
			   required="true"
			   size="30"
			   class="inputbox"
			   validate="email" />

		<field
				name="chief_accountant"
				type="text"
				label="Главный бухгалтер"
				description="Главный бухгалтер"
				size="40"
				class="inputbox"
				default=""
				rows="10"
				cols="50"
		/>

		<field name="chief_accountant_email" type="email"
			   label="Электронная почта главного бухгалтера"
			   description="Электронная почта главного бухгалтера"
			   required="true"
			   size="30"
			   class="inputbox"
			   validate="email" />

		<field
				name="general_director"
				type="text"
				label="Генеральный директор"
				description="Генеральный директор"
				size="40"
				class="inputbox"
				default=""
				rows="10"
				cols="50"
		/>

		<field name="general_director_email" type="email"
			   label="Электронная почта генерального директора"
			   description="Электронная почта генерального директора"
			   required="true"
			   size="30"
			   class="inputbox"
			   validate="email" />

		<field
				name="vendor_management"
				type="text"
				label="Директор департамента по работе с персоналом"
				description="Директор департамента по работе с персоналом"
				size="40"
				class="inputbox"
				default=""
				rows="10"
				cols="50"
		/>

		<field name="vendor_management_email" type="email"
			   label="Электронная почта директора департамента по работе с персоналом"
			   description="Электронная почта директора департамента по работе с персоналом"
			   required="true"
			   size="30"
			   class="inputbox"
			   validate="email" />

	</fieldset>
</config>
